@{
    Layout = null;
}
@model UserManagement.Models.Viewsmodel.UserViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/template/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />


    <title>Add User</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="/template/css/app.css" rel="stylesheet">
    <link href="/template/css/custom_ShowUser.css" rel="stylesheet">
    <link href="/template/css/light.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <partial name="~/Views/Partials/Side_bar.cshtml"></partial>

        <div class="main">
            <partial name="~/Views/Partials/Top_navbar.cshtml"></partial>

            <main class="content">
                <div class="container-fluid p-0">

                    <h1 class="h3 mb-3">Edit User ID  @ViewBag.Id</h1>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form asp-controller="Admin" asp-action="UpdateUserDo" method="POST" enctype="multipart/form-data">
                                        <div class="row" id="">
                                            <div class="mb-3 col-md-6">
                                                <label asp-for="CoverImage" class="form-label" for="inputEmail4">Cover Image</label>
                                                <input id="imgInp" onchange="previewImg()" asp-for="CoverImage" class="form-control" type="file" value="@ViewBag.CoverImage">

                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div id="add-photo" class="mb-3 col-md-6 d-flex flex-row justify-content-center align-items-center">
                                                <img id="img-show" class="previewImage object-fit-cover" src="/uploads/@ViewBag.CoverImage" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="username">Username</label>
                                                <input onblur="validateUsernameU()" asp-for="Username" type="text" class="form-control"
                                                       id="username" placeholder="Username">
                                                <div class="invalid-feedback">
                                                    Username are already used.
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputPassword">Password</label>
                                                <div class="row">
                                                    <input asp-for="Password" type="password"
                                                           class="form-control col-md-10 w-75"
                                                           id="inputPassword"
                                                           placeholder="Password"
                                                           onkeyup="validatePassword()"
                                                           value="@Model.Password">

                                                    <span onclick="revealPassword()"
                                                          class="btn btn-primary col-md-2"
                                                          style="margin-left: 10px !important">Show/Hide</span>
                                                </div>

                                                <div class="invalid-feedback">
                                                    Password must include uppercase, lowercase, number, 3-10 letter and special symbol.
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="fullname">Full Name</label>
                                                <input asp-for="FullName"
                                                       type="text"
                                                       class="form-control "
                                                       id="fullname"
                                                       placeholder="e.g. Croward Admin"
                                                       value="@Model.FullName">
                                                <div class="invalid-feedback">
                                                    Name seem unreal.
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label class="form-label" for="gender">Gender</label>
                                                <select asp-for="Gender" class="form-select flex-grow-1">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label class="form-label" for="dateOfBirth">Date of birth</label>
                                                <input id="dob" asp-for="DateOfBirth" type="date" class="form-control ">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-4">
                                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                                <input asp-for="PhoneNumber" type="text" class="form-control"
                                                       id="phoneNumber" placeholder="None">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-4">
                                                <label class="form-label" for="ethnicGroup">Ethnic Group</label>
                                                <input asp-for="EthnicGroup" type="text" class="form-control " id="ethnicGroup" placeholder="Kinh">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-4">
                                                <label class="form-label" for="regilion">Religion</label>
                                                <input asp-for="Religion" type="text" class="form-control " id="regilion" placeholder="None">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="idCard">ID Card No</label>
                                                <input asp-for="IdCard" type="text" class="form-control " id="idCard" placeholder="01230123012033">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="cultrulaStarndard">Cultural Standard</label>
                                                <input asp-for="CulturalStandard"
                                                       type="text"
                                                       class="form-control "
                                                       id="cultrulaStarndard"
                                                       placeholder="12/12"
                                                       value="@Model.CulturalStandard">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="form-label" for="inputAddress">Permanent Residence</label>
                                            <div class="col-md-2">
                                                <label class="form-label" for="inputAddress">City</label>
                                                <input asp-for="PermanentResidenceCity"
                                                       type="text"
                                                       class="form-control"
                                                       id="prCity"
                                                       placeholder="eg. Ha Noi"
                                                       value="@Model.PermanentResidenceCity">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label" for="inputAddress">District</label>
                                                <input asp-for="PermanentResidenceDistrict" type="text" class="form-control" id="prDistrict" placeholder="Hoan Kiem">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label" for="inputAddress">Commune</label>
                                                <input asp-for="PermanentResidenceCommune" type="text" class="form-control" id="prCommune" placeholder="Ba Dinh">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="inputAddress">Address</label>
                                                <input asp-for="PermanentResidenceAddress" type="text" class="form-control" id="prAddress" placeholder="1234 Main St">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="form-label" for="inputAddress">Regular Address</label>
                                            <div class="col-md-2">
                                                <label class="form-label" for="inputAddress">City</label>
                                                <input asp-for="RegularAddressCity" type="text" class="form-control" id="raCity" placeholder="Ha Noi">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label" for="inputAddress">District</label>
                                                <input asp-for="RegularAddressDistrict" type="text" class="form-control" id="raDistrict" placeholder="Hoan Kiem">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label" for="inputAddress">Commune</label>
                                                <input asp-for="RegularAddressCommune" type="text" class="form-control" id="raCommune" placeholder="Ba Dinh">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="inputAddress">Address</label>
                                                <input asp-for="RegularAddressAddress" type="text" class="form-control" id="raAddress" placeholder="1234 Main St">
                                                <div class="invalid-feedback">
                                                    Field required.
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <h2>Family Members</h2>
                                        @{
                                            var trueRela = "Father";
                                            var rela = Model.Siblings.FirstOrDefault(s => s.Realtionship == trueRela);
                                        }
                                        @if (rela != null)
                                        {

                                            <div id="@rela.Realtionship.ToLower()Information" class="each-sibling">
                                                <h3>@rela.Realtionship</h3>
                                                <input asp-for="@rela.Realtionship" type="hidden"
                                                       value="@rela.Realtionship" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label s-rel"
                                                               for="@rela.Realtionship.ToLower()Name">
                                                            @rela.Realtionship's name
                                                        </label>
                                                        <input asp-for="@rela.FullName"
                                                               type="text"
                                                               class="form-control s-valid s-name"
                                                               id="@rela.Realtionship.ToLower()Name"
                                                               placeholder="e.g Luthor Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()YoB">Year of birth</label>
                                                        <input asp-for="@rela.YearOfBirth"
                                                               type="text"
                                                               class="form-control s-valid s-yob"
                                                               id="@rela.Realtionship.ToLower()YoB"
                                                               placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Current Resident</label>
                                                        <input asp-for="@rela.CurrentResident"
                                                               type="text" class="form-control s-valid s-cr"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Current Occupation</label>
                                                        <input asp-for="@rela.CurrentOcupation"
                                                               type="text" class="form-control s-valid s-co"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Working Agency</label>
                                                        <input asp-for="@rela.WorkingAgency"
                                                               type="text"
                                                               class="form-control s-valid s-wa"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="@trueRela.ToLower()Information" class="each-sibling">
                                                <h3>@trueRela</h3>
                                                <input type="hidden" value="@trueRela" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label"
                                                               for="@trueRela.ToLower()Name">
                                                            @trueRela's name
                                                        </label>
                                                        <input type="text"
                                                               class="form-control s-valid s-name"
                                                               id="@trueRela.ToLower()Name"
                                                               placeholder="e.g Luthor Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="@trueRela.ToLower()YoB">Year of birth</label>
                                                        <input type="text"
                                                               class="form-control s-valid s-yob"
                                                               id="@trueRela.ToLower()YoB"
                                                               placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Current Resident</label>
                                                        <input type="text" class="form-control s-valid s-cr"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Current Occupation</label>
                                                        <input type="text" class="form-control s-valid s-co"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Working Agency</label>
                                                        <input type="text"
                                                               class="form-control s-valid s-wa"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @{
                                            trueRela = "Mother";
                                            rela = Model.Siblings.FirstOrDefault(s => s.Realtionship == trueRela);
                                        }
                                        @if (rela != null)
                                        {

                                            <div id="@rela.Realtionship.ToLower()Information" class="each-sibling">
                                                <h3>@rela.Realtionship</h3>
                                                <input asp-for="@rela.Realtionship" type="hidden"
                                                       value="@rela.Realtionship" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label s-rel"
                                                               for="@rela.Realtionship.ToLower()Name">
                                                            @rela.Realtionship's name
                                                        </label>
                                                        <input asp-for="@rela.FullName"
                                                               type="text"
                                                               class="form-control s-valid s-name"
                                                               id="@rela.Realtionship.ToLower()Name"
                                                               placeholder="e.g Luthor Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()YoB">Year of birth</label>
                                                        <input asp-for="@rela.YearOfBirth"
                                                               type="text"
                                                               class="form-control s-valid s-yob"
                                                               id="@rela.Realtionship.ToLower()YoB"
                                                               placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Current Resident</label>
                                                        <input asp-for="@rela.CurrentResident"
                                                               type="text" class="form-control s-valid s-cr"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Current Occupation</label>
                                                        <input asp-for="@rela.CurrentOcupation"
                                                               type="text" class="form-control s-valid s-co"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Working Agency</label>
                                                        <input asp-for="@rela.WorkingAgency"
                                                               type="text"
                                                               class="form-control s-valid s-wa"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="@trueRela.ToLower()Information" class="each-sibling">
                                                <h3>@trueRela</h3>
                                                <input type="hidden" value="@trueRela" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label"
                                                               for="@trueRela.ToLower()Name">
                                                            @trueRela's name
                                                        </label>
                                                        <input type="text"
                                                               class="form-control s-valid s-name"
                                                               id="@trueRela.ToLower()Name"
                                                               placeholder="e.g Luthor Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="@trueRela.ToLower()YoB">Year of birth</label>
                                                        <input type="text"
                                                               class="form-control s-valid s-yob"
                                                               id="@trueRela.ToLower()YoB"
                                                               placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Current Resident</label>
                                                        <input type="text" class="form-control s-valid s-cr"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Current Occupation</label>
                                                        <input type="text" class="form-control s-valid s-co"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Working Agency</label>
                                                        <input type="text"
                                                               class="form-control s-valid s-wa"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @{
                                            trueRela = "Husband/Wife";
                                            rela = Model.Siblings.FirstOrDefault(s => s.Realtionship == trueRela);
                                        }
                                        @if (rela != null)
                                        {

                                            <div id="@rela.Realtionship.ToLower()Information" class="each-sibling">
                                                <h3>@rela.Realtionship</h3>
                                                <input asp-for="@rela.Realtionship" 
                                                type="hidden" value="@rela.Realtionship" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label s-rel"
                                                               for="@rela.Realtionship.ToLower()Name">
                                                            @rela.Realtionship's name
                                                        </label>
                                                        <input asp-for="@rela.FullName"
                                                               type="text"
                                                               class="form-control s-valid s-name"
                                                               id="@rela.Realtionship.ToLower()Name"
                                                               placeholder="e.g Luthor Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()YoB">Year of birth</label>
                                                        <input asp-for="@rela.YearOfBirth"
                                                               type="text"
                                                               class="form-control s-valid s-yob"
                                                               id="@rela.Realtionship.ToLower()YoB"
                                                               placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Current Resident</label>
                                                        <input asp-for="@rela.CurrentResident"
                                                               type="text" class="form-control s-valid s-cr"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Current Occupation</label>
                                                        <input asp-for="@rela.CurrentOcupation"
                                                               type="text" class="form-control s-valid s-co"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@rela.Realtionship.ToLower()CurrentResident">Working Agency</label>
                                                        <input asp-for="@rela.WorkingAgency"
                                                               type="text"
                                                               class="form-control s-valid s-wa"
                                                               id="@rela.Realtionship.ToLower()CurrentResident"
                                                               placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="@trueRela.ToLower()Information" class="each-sibling">
                                                <h3>@trueRela</h3>
                                                <input type="hidden" value="@trueRela" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label"
                                                               for="@trueRela.ToLower()Name">
                                                            @trueRela's name
                                                        </label>
                                                        <input type="text"
                                                               class="form-control s-valid s-name"
                                                               id="@trueRela.ToLower()Name"
                                                               placeholder="e.g Luthor Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="@trueRela.ToLower()YoB">Year of birth</label>
                                                        <input type="text"
                                                               class="form-control s-valid s-yob"
                                                               id="@trueRela.ToLower()YoB"
                                                               placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Current Resident</label>
                                                        <input type="text" class="form-control s-valid s-cr"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Current Occupation</label>
                                                        <input type="text" class="form-control s-valid s-co"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="@trueRela.ToLower()CurrentResident">Working Agency</label>
                                                        <input type="text"
                                                               class="form-control s-valid s-wa"
                                                               id="@trueRela.ToLower()CurrentResident"
                                                               placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div id="siblingsInformation">
                                            <div class="row">
                                                <h3 class="col-md-6">Siblings</h3>
                                                <div class="row col-md-6">
                                                    <div class="col-md-12 d-flex flex-column justify-content-end align-items-end">
                                                        <div class="btn btn-primary" onclick="addListProcess('siblings')">
                                                            <i class="fa fa-solid fa-plus-circle me-1"></i>
                                                            ADD SIBLINGS
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var siblings in Model.Siblings)
                                            {
                                                @if (siblings.Realtionship == "Sibling")
                                                {
                                                    <div class="each-sibling">
                                                        <input type="hidden" value="Sibling" class="form-control s-rel" id="">
                                                        <div class="row mb-3">
                                                            <div class="col-md-4">
                                                                <label class="form-label" for="">Name</label>
                                                                <input asp-for="@siblings.FullName"
                                                                       type="text"
                                                                       class="form-control s-name s-valid" id="" placeholder="e.g Alisa Crown">
                                                                <div class="invalid-feedback">
                                                                    Field required.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <label class="form-label" for="">Year of birth</label>
                                                                <input asp-for="@siblings.YearOfBirth" type="text"
                                                                       class="form-control s-yob s-valid" id="" placeholder="e.g 1975">
                                                                <div class="invalid-feedback">
                                                                    Field required.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="">Current Resident</label>
                                                                <input asp-for="@siblings.CurrentResident" type="text" class="form-control s-cr s-valid" id="" placeholder="e.g 123 That St, London, England">
                                                                <div class="invalid-feedback">
                                                                    Field required.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1 d-flex flex-column justify-content-end align-items-center">
                                                                <div class="btn btn-danger" onclick="removeElementProcess(this, 'sibling')">
                                                                    <i class="fa fa-solid fa-minus-circle"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="partnerCurrentResident">Current Occupation</label>
                                                                <input asp-for="@siblings.CurrentOcupation" type="text" class="form-control s-co s-valid" id="" placeholder="e.g CEO">
                                                                <div class="invalid-feedback">
                                                                    Field required.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label class="form-label" for="partnerCurrentResident">Working Agency</label>
                                                                <input asp-for="@siblings.WorkingAgency" type="text" class="form-control s-wa s-valid" id="" placeholder="e.g ABC Company">
                                                                <div class="invalid-feedback">
                                                                    Field required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @* <div class="each-sibling">
                                                <input type="hidden" value="Sibling" class="form-control s-rel" id="">
                                                <div class="row mb-3">
                                                    <div class="col-md-4">
                                                        <label class="form-label" for="">Name</label>
                                                        <input value="" type="text"
                                                               class="form-control s-name s-valid" id="" placeholder="e.g Alisa Crown">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label class="form-label" for="">Year of birth</label>
                                                        <input value="" type="text"
                                                               class="form-control s-yob s-valid" id="" placeholder="e.g 1975">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="">Current Resident</label>
                                                        <input value="" type="text" class="form-control s-cr s-valid" id="" placeholder="e.g 123 That St, London, England">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 d-flex flex-column justify-content-end align-items-center">
                                                        <div class="btn btn-danger" onclick="removeElementProcess(this, 'sibling')">
                                                            <i class="fa fa-solid fa-minus-circle"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="partnerCurrentResident">Current Occupation</label>
                                                        <input value="" type="text" class="form-control s-co s-valid" id="" placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label" for="partnerCurrentResident">Working Agency</label>
                                                        <input value="" type="text" class="form-control s-wa s-valid" id="" placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> *@

                                        </div>

                                        <hr />
                                        <div id="studyProcess" onblur="addStudyProcess()">
                                            <div class="row">
                                                <h2 class="col-md-6">Study Process (From latest)</h2>
                                                <div class="row col-md-6">
                                                    <div class="col-md-12 d-flex flex-column justify-content-end align-items-end">
                                                        <div class="btn btn-primary" onclick="addListProcess('studying')">
                                                            <i class="fa fa-solid fa-plus-circle me-1"></i>
                                                            ADD
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var study in Model.StudyProcesses)
                                            {
                                                <div class="row mb-3 count-studying">
                                                    <div class="col-md-2">
                                                        <label class="form-label" for="siblings">Start time</label>
                                                        <input type="date"
                                                               class="form-control st-start-time"
                                                               id=""
                                                               value="@study.StartTime.ToString("yyyy-MM-dd")">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="form-label" for="siblings">End time</label>
                                                        <input type="date"
                                                               class="form-control st-end-time"
                                                               id=""
                                                               value="@study.EndTime.ToString("yyyy-MM-dd")">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label class="form-label" for="siblings">School/University</label>
                                                        <input type="text"
                                                               class="form-control st-school"
                                                               id=""
                                                               placeholder="e.g ABC Company"
                                                               value="@study.SchoolUniversity">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="form-label" for="siblings">Mode of study</label>
                                                        <input type="text"
                                                               class="form-control st-mode-study"
                                                               id=""
                                                               placeholder="e.g CEO"
                                                               value="@study.ModeOfStudy">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 d-flex flex-column justify-content-end align-items-center">
                                                        <div class="btn btn-danger" onclick="removeElementProcess(this, 'process')">
                                                            <i class="fa fa-solid fa-minus-circle"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <hr />
                                        <div id="workingProcess">

                                            <div class="row">
                                                <h2 class="col-md-6">Working Process (From latest)</h2>
                                                <div class="row col-md-6">
                                                    <div class="col-md-12 d-flex flex-column justify-content-end align-items-end">
                                                        <div class="btn btn-primary" onclick="addListProcess('working')">
                                                            <i class="fa fa-solid fa-plus-circle me-1"></i>
                                                            </svg>ADD
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var work in Model.WorkingProcesses)
                                            {
                                                <div class="row mb-3 count-working">
                                                    <div class="col-md-2">
                                                        <label class="form-label" for="">Start time</label>
                                                        <input type="date" value="@work.StartTime.ToString("yyyy-MM-dd")"
                                                               class="form-control w-start-time" id="" placeholder="01230123012033">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="form-label" for="siblings">End time</label>
                                                        <input type="date" value="@work.EndTime.ToString("yyyy-MM-dd")"
                                                               class="form-control w-end-time" id="" placeholder="01230123012033">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label class="form-label" for="siblings">Working Agency</label>
                                                        <input type="text" value="@work.WorkingAgency"
                                                               class="form-control w-work" id="" placeholder="e.g ABC Company">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="form-label" for="siblings">Position</label>
                                                        <input type="text" value="@work.Position"
                                                               class="form-control w-position" id="" placeholder="e.g CEO">
                                                        <div class="invalid-feedback">
                                                            Field required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 d-flex flex-column justify-content-end align-items-center">
                                                        <div class="btn btn-danger" onclick="removeElementProcess(this, 'process')">
                                                            <i class="fa fa-solid fa-minus-circle"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <hr />
                                        <div class="mb-3">
                                            <label class="form-check m-0">
                                                <input id="checkTC" onchange="checkTermsCondU()" type="checkbox" class="form-check-input">
                                                <span class="form-check-label">I agree with terms and condition</span>
                                            </label>
                                        </div>
                                        <button id="btn-submit" type="submit" class="btn btn-primary btn-lg" disabled>Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> - <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>Bootstrap Admin Template</strong></a>								&copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/template/js/app.js"></script>
    <script src="/template/js/custom_adduser.js"></script>
    <script src="/template/js/custom_edituser.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/template/js/custom_navbar.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
            integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

</body>

</html>

