@{
    ViewData["Title"] = "Add User";
}
@model UserViewsModel
<div class="content">
    <div id="back-btn">
        <a asp-controller="Home" asp-action="Index"><i class="fa fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="content-2">
        <div class="prd-title">
            <span>Add Customer</span>
        </div>
        <div class="form">
            <form asp-action="CreateUser" method="post" enctype="multipart/form-data">
                <div class="f-1">
                    @if (Model != null)
                    {
                        <div class="form-flex">
                            <label asp-for="Photo">Avatar</label>
                            <input id="imgInp" onchange="previewImg()" asp-for="Photo" class="form-control" type="file" value="@Model.Photo.FileName" />
                            <div id="add-photo" class="input-photo">

                                <span id="img-error" style="color: red;">@ViewBag.ImgError</span>
                            </div>
                        </div>
                        <div class="form-flex">
                            <label for="name">Name</label>
                            <input asp-for="Name" type="text"
                                   name="name"
                                   id="name"
                                   placeholder="Name user"
                                   value="@Model.Name"
                                   required />
                        </div>
                        <div class="form-flex">
                            <label for="age">Age</label>
                            <input asp-for="Age" type="number"
                                   name="age"
                                   id="age"
                                   placeholder="Age"
                                   value="@Model.Age" required />
                        </div>
                        <div class="form-flex">
                            <label for="gender">Gender</label>
                            <div class="div-input">
                                <div>
                                    @if (@Model.Gender == "Male")
                                    {
                                        <div>
                                            <input asp-for="Gender" type="radio"
                                                   name="gender"
                                                   id="female"
                                                   value="Female" required />
                                            <label for="female">Female</label><br>
                                        </div>
                                        <div>
                                            <input asp-for="Gender" type="radio"
                                                   name="gender"
                                                   id="male"
                                                   value="Male"
                                                   checked />
                                            <label for="male">Male</label><br>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <input asp-for="Gender" type="radio"
                                                   name="gender"
                                                   id="female"
                                                   value="Female" checked />
                                            <label for="female">Female</label><br>
                                        </div>
                                        <div>
                                            <input asp-for="Gender" type="radio"
                                                   name="gender"
                                                   id="male"
                                                   value="Male" required />
                                            <label for="male">Male</label><br>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="form-flex">
                            <label asp-for="Number">Phone Number</label>
                            <div class="input-span">
                                <input asp-for="Number" class="form-control" onkeyup="validatePhoneNumber()" required />
                                <span id="phone-number-error" style="color: red;">@ViewBag.NumberError</span>
                            </div>
                        </div>

                        <div class="form-flex">
                            <label asp-for="Username">Username</label>
                            <div class="input-span">
                                <input asp-for="Username" class="form-control" required />
                                <span id="username-error" style="color: red;">@ViewBag.UsernameError</span>
                            </div>
                        </div>

                        <div class="form-flex">
                            <label asp-for="Password">Password</label>
                            <div class="input-span">
                                <input asp-for="Password" class="form-control" onkeyup="validatePassword()" required />
                                <span id="password-error" style="color: red;"></span>
                            </div>
                        </div>

                        <div class="form-flex">
                            <label for="status">Status</label>
                            <div class="div-input">
                                @if (@Model.Status == "Open")
                                {
                                    <div>
                                        <input asp-for="Status" type="radio"
                                               name="status"
                                               id="lock"
                                               value="Lock"
                                               required />
                                        <label for="lock">Lock</label><br>
                                    </div>
                                    <div>
                                        <input asp-for="Status" type="radio"
                                               name="status"
                                               id="open"
                                               value="Open" checked />
                                        <label for="open">Unlock</label><br>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <input asp-for="Status" type="radio"
                                               name="status"
                                               id="lock"
                                               value="Lock" checked required />
                                        <label for="lock">Lock</label><br>
                                    </div>
                                    <div>
                                        <input asp-for="Status" type="radio"
                                               name="status"
                                               id="open"
                                               value="Open" />
                                        <label for="open">Unlock</label><br>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-flex">
                            <label asp-for="Priority" for="priority">Priority</label>
                            <select asp-for="Priority" name="priority" id="priority" required>
                                @if (Model.Priority == "admin")
                                {
                                    <option value="admin" selected>Admin</option>
                                    <option value="user">User</option>
                                }
                                else
                                {
                                    <option value="admin">Admin</option>
                                    <option value="user" selected>User</option>
                                }

                            </select>

                        </div>
                    }
                    else
                    {
                        <div class="form-flex">
                            <label asp-for="Photo">Avatar</label>
                            <div id="add-photo" class="input-photo">
                                <input id="imgInp" onchange="previewImg()" asp-for="Photo" class="form-control" type="file" required/>

                                <span id="img-error" style="color: red;">@ViewBag.ImgError</span>
                            </div>
                        </div>

                        <div class="form-flex">
                            <label for="name">Name</label>
                            <input asp-for="Name"
                                   type="text"
                                   name="name"
                                   id="name"
                                   placeholder="Name user"
                                   required />
                        </div>
                        <div class="form-flex">
                            <label for="age">Age</label>
                            <input asp-for="Age"
                                   type="number"
                                   name="age"
                                   id="age"
                                   placeholder="Age" required />
                        </div>
                        <div class="form-flex">
                            <label asp-for="Gender">Gender</label>
                            <div class="div-input">
                                <div>
                                    <input type="radio"
                                           asp-for="Gender"
                                           id="female"
                                           value="Female" required />
                                    <label for="female">Female</label><br>
                                </div>
                                <div>
                                    <input type="radio"
                                           asp-for="Gender"
                                           id="male"
                                           value="Male" />
                                    <label for="male">Male</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="form-flex">
                            <label asp-for="Number">Phone number</label>
                            <div class="input-span">
                                <input asp-for="Number" class="form-control" onkeyup="validatePhoneNumber()" placeholder="Phone number" required />
                                <span id="phone-number-error" style="color: red;">@ViewBag.NumberError</span>
                            </div>
                        </div>

                        <div class="form-flex">
                            <label asp-for="Username">Username</label>
                            <div class="input-span">
                                <input asp-for="Username" class="form-control" placeholder="Username" required />
                                <span id="username-error" style="color: red;">@ViewBag.UsernameError</span>
                            </div>
                        </div>

                        <div class="form-flex">
                            <label asp-for="Password">Password</label>
                            <div class="input-span">
                                <input asp-for="Password" class="form-control" placeholder="Password" onkeyup="validatePassword()" required />
                                <span id="password-error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="form-flex">
                            <label asp-for="Status">Status</label>
                            <div class="div-input">
                                <div>
                                    <input type="radio" asp-for="Status" value="Lock" required />
                                    <label for="lock">Lock</label><br>
                                </div>
                                <div>
                                    <input type="radio" asp-for="Status" value="Open" />
                                    <label for="open">Open</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="form-flex">
                            <label asp-for="Priority">Priority</label>
                            <select asp-for="Priority" class="form-control" required>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                    }

                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
