@{
    ViewData["Title"] = "Home Page";
}


<div class="content">

    <div class="content-2">
        <div class="button-all">
            <div id="search">
                <input id="search-input" type="text" name="seach" placeholder="Search here" />
                <button onclick="searchUser()" type="submit"><i class="fa fa-solid fa-search fa-lg"></i></button>
            </div>
            <div class="btn-add">
                <a href="/Home/ADUser"> Add User </a>
            </div>
        </div>
        <div id="checkbox-action" class="">
            <div class="display-flex-center-all gap-5">
                <div id="bulk-action">
                    <select id="select-bulk" name="bulk-action">
                        <option name="none">Bulk actions</option>
                        <option name="reset-password">Reset password</option>
                        <option name="move-to-trash">Move to trash</option>
                        <option name="create-card">Create id card</option>
                    </select>
                    <button class="button-apply" onclick="bulkAction()">Apply</button>
                </div>
                <div class="sort">
                    <span>Sort by:</span>
                    <select id="sort-action" name="sort-action" onchange="sortAction()">
                        <option name="all" value="all">All</option>
                        <option name="nameaz" value="nameaz">Name A-Z</option>
                        <option name="nameza" value="nameza">Name Z-A</option>
                        <option name="usernameaz" value="usernameaz">Username A-Z</option>
                        <option name="usernameza" value="usernameza">Username Z-A</option>
                    </select>
                </div>
                <div id="export" class="export">
                    <select id="export-action" name="export-action" onchange="">
                        <option name="all" value="all">Export</option>
                        <option name="toExcel" value="toExcel">Export to Excel</option>
                        @* <option name="toCsv" value="toCsv">Export to PDF</option> *@
                    </select>
                    <button class="button-apply" onclick="exportAction()">Apply</button>
                </div>
                <div class="reset-password-selected hidden">
                    <span onclick="getAllChecked()">Reset selected user password</span>
                </div>
                <div class="delete-user-selected hidden">
                    <span onclick="moveToTrash()">Move to trash</span>
                </div>
            </div>
            <div id="count-item">
                <span>Total: @ViewBag.TotalItem</span>
            </div>
        </div>
        <div class="table-crud">
            <table id="prd-table">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 5%" />
                    <col style="width: 15%" />
                    <col style="width: 5%" />
                    <col style="width: 7%" />
                    <col style="width: 10%" />
                    <col style="width: 10%" />
                    <col style="width: 10%" />
                    <col style="width: 7%" />
                    @* <col style="width: 5%" /> *@
                    <col style="width: 5%" />
                    <col style="width: 5%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="alg-center">
                            <input id="check-all" type="checkbox" onclick="handleCheck(this)" />
                        </th>
                        <th>Image</th>
                        <th class="prd-text-left">Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Number</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Priority</th>
                        @* <th class="tall alg-center">Edit</th> *@
                        <th class="tall alg-center">Status</th>
                        <th class="tall alg-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr onclick="checkedRow()">
                            <td id="td-checkbox" class="alg-center">
                                <input id="checkbox-child-@user.Id" type="checkbox" />
                            </td>
                            <td onclick="handleToEdit(@user.Id)">
                                @if (@user.Image != null) {
                                    <img width="50" height="50" src="~/uploads/@user.Image"/>
                                }else
                                {
                                    <img width="50" height="50" src="~/img/meobongbong.jpg" />
                                }
                            </td>
                            <td onclick="handleToEdit(@user.Id)" class="prd-text-left">@user.Name</td>
                            <td onclick="handleToEdit(@user.Id)">@user.Age</td>
                            <td onclick="handleToEdit(@user.Id)">@user.Gender</td>
                            <td onclick="handleToEdit(@user.Id)">@user.Number</td>
                            <td onclick="handleToEdit(@user.Id)">@user.Username</td>
                            <td onclick="handleToEdit(@user.Id)">@user.Password</td>
                            <td onclick="handleToEdit(@user.Id)">@user.Priority</td>
                            <td class="prd-edit tall alg-center">
                            @if (@user.Status == "Open")
                            {
                                    <button id="btn-unlock" onclick="handleLock(@user.Id)" class="" style="background-color: #27ae60"><i class="fa-solid fa-unlock"></i></button>
                            }
                            else
                            {
                                    <button id="btn-lock" onclick="handleLock(@user.Id)" style="background-color: #f39c12"><i class="fa-solid fa-lock"></i></button>
                            }
                            </td>
                            <td class="prd-edit tall alg-center">
                                <button onclick="deleteButton2('@user.Username', @user.Id)" id="del-@user.Id" href="" style="background-color: red"><i class="fa fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


